<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <!-- <button type="submit">Search</button> -->
  
  <button type="submit"><span class="one">S</span><span class="two">e</span><span class="three">a</span><span class="four ">r</span><span class="five">c</span><span class="six">h</span></button>
</form>
<div class="gallery"></div>
<button type="button" class="load-more is-hidden">Load more</button>


  <!-- Картки зображень -->
</div>

